html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#map-page {
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding: 0;
}

#map-div {
	width: 100%;
	height: 100%;
	padding: 0;
	position: absolute;
	left: 0px;

	.google-map-error {
		width: 50%;
		margin: 20% auto 0;
		text-align: center;
	}
}

#mypanel {
	height: 100%;
}

#info-window {
	max-width: 500px;
	max-height: 400px;
	padding: 10px;

	p {
		margin: 2px;
	}

	li {
		margin-bottom: 10px;
	}

	.google-data {
		.info-banner {
			h1 {
				font-size: 2em;
				margin: 0 0 .3em 0;
			}

			p {
				overflow: hidden;
			}

			.place-image {
				float: left;
				margin-right: 15px;
				max-width: 100px;
			}
		}

		.google-reviews {
			overflow: hidden;
			padding: 0;
			margin: 0;
		}
	}

	.foursquare-reviews {
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
}

.container {
	display: flex;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

.yahoo-weather {
	font-size: 11px;
	border: 1px solid gray;
	border-radius: 15px;
	padding: .5em;
	overflow: hidden;

	.weather-banner {
		padding: .5em;
		margin: .2em;
		overflow: hidden;
	}

	.weather-banner-error {
		font-size: 13px;
		font-weight: bold;
		padding: .5em;
		margin: .2em;
		text-align: center;
		overflow: hidden;
	}

	.current-conditions {
		overflow: hidden;

		img {
			float: left;
			margin-right: .5em;
		}
		.banner {
			font-size: 1.2em;
			font-weight: bold;
		}
		.text {
			font-size: 1.3em;
		}
	}
}

.place-selector {
	margin: 20px;
	padding: 10px;
}

.place-select-label {
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}

.place-type {
	color: black;
	margin-left: 10px;
}

.filter-window {
	margin: 20px;
	min-width: 300px;
	display: inline-block;
	opacity: 0.8;
	box-shadow: 5px 5px 15px #888;
}

.results-banner {
	border: 0 none;
	border-radius: 15px;
	background-color: #f99;
	padding: .5em;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0.4em 0;
	text-align: center;
}

.filtered-list {
	padding-left: 2em;
	width: 90%;
	list-style-type: upper-alpha;
	font-size: 14px;

	li {
		padding: 0.5em 0;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
		&:hover {
			color: red;
			background-color: #ddf;
		};
	}
}

